@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

body {
    font-family: 'Martian Mono', 'sans-serif';
}

.conteiner{
    background-color:rgb(121, 201, 255);
    width: 900px;
    padding: 50px;
    margin: auto;
    border-style: double ;

}

td{
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}