@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

body {
    font-family: 'Martian Mono', 'sans-serif';
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 2px;
}

a{
    text-decoration: none;
}

.conteiner-body{
    background-color:rgb(121, 201, 255);
    width: 900px;
    padding: 0px 100px;
    margin: auto;
    padding: 0px;

}
.conteiner-header{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5px;
    text-align: right;
}



.conteiner-header-link{
    padding-top: 10px;
}

.conteiner-header-link a{
font-size: 16px;
background-color: rgb(12, 235, 4);
padding: 5px 10px;
border-radius: 25px;
text-decoration: none;
color:black;
}

.conteiner {
    margin: 0px 50px;
    text-align: left;
    padding: 5px;
    }

.conteiner table{
    min-width: 100%;
    font-size: 14px;
    }

.conteiner td {
    border:solid 1px;
    padding: 0;
    margin: 0;
}


.conteiner-nome-cliente {
    padding-left: 5px;
}

.conteiner-botao-cadastro{
    text-align: center;
}

.conteiner-botao-cadastro a{
    font-size: 16px;
    background-color: rgb(12, 235, 4);
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    color:black;

}

.conteiner-produto{
    display: flex;
}
.conteiner-produto-link{
    width: min-content;
    margin: auto 0px;  
}
.conteiner-produto-link a{
    color: black;
    background-color: #ffffff;;
    border-radius: 25px;
    padding: auto;
    
    
}
.conteiner-produto-conteudo{
    width: min-content;

    
}
